

.vehicle-detail{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    flex-direction: column;
}

.vehicle-detail_main-section{
    color: yellow;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-direction: row;    
    justify-content: space-evenly;
}

.vehicle-detail_name-section{
    margin-top:100px;
}

.section-divider{
    border-top: 3px solid #f50c0c
}

.vehicle-detail_aspects{
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-end;
}


.vehicle-detail-img{
    width: 20vw;
    height: 50vh;
}
